# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ArtNetReceiver.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\home\unity\mikuec2020\ArtNetReceiver\.idea\.idea.ArtNetReceiver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
